<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEV_PASSWORD</key>
	<string>qirbiC-migboq-nuvki3</string>
	<key>SUPABASE_URL</key>
	<string>https://pnunoycrixteeuxxpxqi.supabase.co</string>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>sb_publishable_OBqPN_lV1uWtGZ51ETS4Nw_adEHRzk0</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
